# Keystore - JANGAN pernah commit ke Git!
*.jks
*.keystore
keystore.jks

# Build outputs
/app/build/
/build/

# Android Studio
.gradle/
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db
